<div class="container d-flex flex-wrap h-100 align-content-center justify-content-center">
  <div class="notice alert-danger w-50 text-center">
    <%= render 'devise/shared/error_messages' %>
  </div>

  <div class="container h-75 d-flex flex-wrap align-content-center justify-content-center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <h2 class="text-center">Sign up</h2>

      <div class="form-outline mb-4">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-outline mb-4">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-outline mb-4">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="actions text-center">
        <%= f.submit "Sign up", class:"btn btn-primary btn-block mb-4" %>
      </div>

      <div class="text-center">
        <p>Already a member? <%= render "devise/shared/links" %></p>
      </div>
    <% end %>
  </div>
</div>