<p>
    <strong>Category:</strong>
    <%= @category.name %>
</p>

<p>
    <strong>Task:</strong>
</p>

<p>
    <strong>Name:</strong>
    <%= @task.name %>
</p>

<p>
    <strong>Description:</strong>
    <%= @task.description %>
</p>

<p>
    <strong>Deadline:</strong>
    <%= @task.deadline %>
</p>

<p>
  <%= link_to "Edit Task", edit_category_task_path(@category.id, @task.id) %>
</p>

<p>
    <%= link_to "Destroy Task", category_task_path(@category.id, @task.id), data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
</p>