<div class="container d-flex flex-wrap h-100 align-content-center justify-content-center">
  <div class="notice alert-danger w-50 text-center">
    <%= alert %>
  </div>

  <div class="container h-75 d-flex flex-wrap align-content-center justify-content-center">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h2 class="text-center">Login</h2>

      <div class="form-outline mb-4">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="field form-outline mb-4">
        <%= f.label :password, class: "form-label" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="actions text-center">
        <%= f.submit "Login", class:"btn btn-primary btn-block mb-4" %>
      </div>

      <div class="text-center">
        <p>Not a member? <%= render "devise/shared/links" %></p>
      </div>

      <div class="notice alert-success text-center">
        <%= notice %>
      </div>
    <% end %>
  </div>
</div>