<h1>
  <%= @category.name %>
  <%= link_to "New Task", new_category_task_path(@category), class:"btn btn-primary" %>
  <%= link_to "Edit", edit_category_path(@category), class:"btn btn-primary" %>
  <%= link_to "Destroy", category_path(@category), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }, class:"btn btn-primary" %>
</h1>
<h3>Tasks</h3>
<table>
  <tr>
    <th>
      Task
    </th>
    <th>
      Description
    </th>
    <th>
      Deadline
    </th>
    <th>
      Edit
    </th>
    <th>
      Destroy
    </th>
    <th>
      View
    </th>
  </tr>
  <% @category.tasks.each do |task| %>
      <tr>
        <%= render task %>
        <th>
          <%= link_to "View Task", [task.category, task], class:"btn btn-outline-primary" %>
        </th>
      </tr>
  <% end %>
</table>

<%= link_to "Back", categories_path, class:"btn btn-primary" %>