<!DOCTYPE html>
<html>
  <head>
    <title>JournalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container" style="height: 100vh;">
      <div class="row h-100">
        <div class="col-3">
          <%= render "layouts/navbar" %>
        </div>
        <div class="col-9">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
